extends layout

block content

  block container

            div#frameContainer(style="height:100%")
            div.box1#box1

             #box2.box2
                p
                ul.region_list
                   each region in regions
                      - color = region['status'] == 'OK' ?'green' : region['status'] == 'NOK'?'red':'yellow';
                      - filename= region['node'] + "_results.html";
                      if region['status']!='N/A'
                        li.red_and_green
                             a( class='#{color}', href='javascript:loadReport("#{filename}")') #{region['node']}
                             div.timestamp
                                  |(last updated: #{region['timestamp']})


                      else
                        li.yellow
                             div(style="height:0px",title='Sanity Check in progress') #{region['node']}
                             div.timestamp
                               |(in progress)
