extends layout

block content

  block container
      div.box0
          .header
              .header-content
                p SANITY CHECK STATUS | #{timestamp}

          div
              div.box1
                ul.region_list
                   each region in regions
                      - color = region['status'] == 'OK' ?'green' : region['status'] == 'NOK'?'red':'yellow';
                      - filename= region['node'] + "_results.html";
                      if region['status']!='N/A'
                        li.red_and_green
                             a(class='#{color}', href='/report/#{filename}', title="#{region['node']}") #{region['node']}
                             button.btn(onclick="window.open('/refresh?region=#{region['node']}','_self');") Refresh
                             button.btn(data-action="btn-subscribe" disabled) Subscribe
                      else
                        li.yellow
                             | #{region['node']}
                             button.btn(onclick='refresh()') Refresh
                             button.btn(data-action="btn-subscribe" disabled) Subscribe

           div.footer
                 ul.unstyled

                   li 2014 ©
                    a(href="http://fiware.org", title=FIWARE) FIWARE.
                    |&nbsp;The use of FIWARE Lab services is subject to the acceptance of the
                    a(href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions") &nbsp; Terms and Conditions,
                    a(href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy") &nbsp;Personal Data Protection Policy
                    |&nbsp;and
                    a(href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab") &nbsp;Cookies Policy



