extends layout

block content

  block container
      div.box0
          .header
              .header-content
                p SANITY CHECK STATUS | #{timestamp}


          div.box1
             #box2.box2
                div.username
                    | #{name}
                    button.btn(onclick="window.location.href='/logout'") Log out
                p &nbsp;
                ul.region_list
                   each region in regions
                      - color = region['status'] == 'OK' ?'green' : region['status'] == 'NOK'?'red':'yellow';
                      - filename= region['node'] + "_results.html";
                      - region_name= region['node'];
                      if region['status']!='N/A'
                        li.red_and_green
                             a( class='#{color}', href='/report/#{filename}') #{region['node']}
                             button.btn(onclick="javascript:refresh(this,'#{region['node']}')") Refresh
                             if region['subscribed']
                                button.btn.subscribe(onclick="window.location.href='/unsubscribe?region=#{region_name}'" ) Unsubscribe
                             else
                                button.btn.subscribe(onclick="window.location.href='/subscribe?region=#{region_name}'" ) Subscribe
                             div.timestamp
                               |(last updated: #{region['timestamp']})
                      else
                        li.yellow
                             | #{region['node']}
                             button.btn(disabled) Refresh
                             if region['subscribed']
                                button.btn.subscribe(onclick="window.location.href='/unsubscribe?region=#{region_name}'" ) Unsubscribe
                             else
                                button.btn.subscribe(onclick="window.location.href='/subscribe?region=#{region_name}'" ) Subscribe
                             div.timestamp
                               |(last updated: #{region['timestamp']})

          div.footer
                 ul.unstyled

                   li 2014 ©
                    a(href="http://fiware.org", title=FIWARE) FIWARE.
                    |&nbsp;The use of FIWARE Lab services is subject to the acceptance of the
                    a(href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions") &nbsp; Terms and Conditions,
                    a(href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy") &nbsp;Personal Data Protection Policy
                    |&nbsp;and
                    a(href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab") &nbsp;Cookies Policy



